.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/*.code-snippets
!*.code-workspace
# Built Visual Studio Code Extensions
*.vsix

.idea/
dist/
build/
coverage/

.env
.env.*
!.env.example
*.log
*.pem
*.crt
*.key

.DS_Store
*~

node_modules/
vendor/
